@model List<ChoixResto_Asp.NET.Models.Resultats>

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Voir les résultats</title>
	<style type="text/css">
		table {
			border-collapse: collapse;
		}

		td, th {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<p>Résultats du sondage :</p>
	<div id="tableauResultat">

	</div>
	<!--Ajax.ActionLink("Actualiser le résultat", "AfficheTableau", new { id = ViewBag.Id}, new AjaxOptions
	{
		 InsertionMode = InsertionMode.Replace,
		 UpdateTargetId = "tableauResultat",
		 HttpMethod = "GET",
		 OnFailure = "ErreurAfficheTableau"
	})-->
	<p>Vue normale : @DateTime.Now.ToLongTimeString()</p>
	<!--<script type="text/javascript">
		function ErreurAfficheTableau() {
			$("#tableauResultat").html("Une erreur s'est produite lors de la mise à jour, veuillez réessayer ...");
		}
	</script>-->
	<img src="@Url.Action("AfficheGraphique", new { id = ViewBag.Id })" />
	<script type="text/javascript">
		var timer;
		function ChargeVuePartielle() {
		}

		$(function () {
			timer = window.setInterval("ChargeVuePartielle()", 10000);
			ChargeVuePartielle();
		});

		function ChargeVuePartielle() {
			$.ajax({
			  url: '@Url.Action("AfficheTableau", new {id = ViewBag.Id  })',
			  type: 'GET',
			  dataType: 'html',
			  success: function (result) {
					$('#tableauResultat').html(result);
			  }
			});
		}
	</script>
</body>
</html>