
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<p>Prêts à choisir un restaurant ?</p>
	@using (Html.BeginForm())
	{
		<input type="submit" value="Créer un sondage" />
	}
	<ul>
		<li>@Html.ActionLink("Ajouter un restaurant", "CreerRestaurant", "Restaurant")</li>
		<li>@Html.ActionLink("Modifier les restaurants", "Index", "Restaurant")</li>
	</ul>
</body>
</html>
